.appContainer{
  padding: 15px 0;
  text-align: center;
}
.dashboard {
  position: relative;
}
.column {
  position: absolute;
  left: 0;
  right: 0;
  width: calc((100% - 120px) / 3);
  margin: 0 0 30px 30px;
  z-index: 1;
}
.column.muuri-item-releasing {
  z-index: 2;
}
.column.muuri-item-dragging {
  z-index: 3;
  cursor: move;
}
.dragable-column {
  position: relative;
  min-height: calc(100vh - 200px);
}


.card {
  position: absolute;
  width: 100%;
  margin: 5px 0;
  background: #fff;
  user-select: auto;
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  .card-head {
    position: relative;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 4px;
    cursor: move;
    display: flex;
    h3{
      flex-grow: 1;
      margin: 0;
      font-size: 1.4rem;
      line-height: inherit;
    }
    span{
      line-height: inherit;
    }
  }
  .card-body{
    margin: 1.25rem;
    padding: 0;
    margin-top: 0;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,.1);
    user-select: text;
  }
  .card-footer{
    padding: .5rem 1.25rem;
    span{
      margin-right: 5px;
      line-height: inherit;
    }
    a{
      float: right;
      line-height: 2.2rem;
    }
  }
}
.card.muuri-item-releasing {
  z-index: 9998;
}
.card.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}
.card.muuri-item-hidden {
  z-index: 0;
}


.trans-grid{
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: flex;
    padding: 8px 0;
    h4{
      font-size: 1rem;
      flex-grow: 1;
      span{
        font-size: .8rem;
        color: grey;
      }
    }
    div{
      font-size: 1rem;
      text-align: right;
      color: #565656;
      span{
        display: block;
        font-size: .8rem;
        font-weight: normal;
        line-height: initial;
        &.recv{
          color: green;
        }
      }
    }
    &:last-child{
      padding-bottom: 0;
      border: none;
    }
  }
}

.banker-grid{
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px solid rgba(0,0,0,.1);
    position: relative;
    padding: 16px 0 8px;
    div{
      display: flex;
      padding-bottom: 15px;
      img{
        width: 78px;
        height: 78px;
        border-radius: 50%;
        display: inline-block
      }
      h4{
        font-size: 1.2rem;
        flex-grow: 1;
        margin: 5px 0 0 20px;
        span{
          font-size: .9rem;
          color: grey;
          display: block;
          font-weight: normal;
        }
        .location{
          padding-top: 8px;
          .material-icons{
            display: inline;
            font-size: 1.3rem;
            vertical-align: middle;
            margin-left: -4px;
            color: #bdbdbd
          }
        }
      }
    }
    .social{
      position: absolute;
      top: 14px;
      right: 0;
      text-align: right;
      padding-bottom: 0;
      span{
        font-size: 1.3rem;
        margin-left: 5px;
        color: #23a3f1;
      }
    }
    &:first-child{
      padding-top: 8px;
    }
    &:last-child{
      border: none;
      padding-bottom: 0;
    }
  }
}