<section class="appContainer">
  <h1>{{ title }}</h1>
</section>

<section class="dashboard">
  <section class="column">
    <section class="dragable-column">
      <section class="card" data-id="2">
        <div class="card-head">
          <h3>Accounts Overview</h3>
          <span class="material-icons">expand_more</span>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore etdolore magna aliqua</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
        <div class="card-footer">
          <span class="material-icons">rss_feed</span>
          <span class="material-icons">save_alt</span>
          <span class="material-icons">show_chart</span>
          <a href="#" title="More Details">More details</a>
        </div>
      </section>
      <section class="card" data-id="1">
        <div class="card-head">
          <h3>Transactions</h3>
          <span class="material-icons">expand_more</span>
        </div>
        <div class="card-body">
          <ul class="trans-grid">
            <li>
              <h4>My saving 4321<br><span>As of 07/04/2023</span></h4>
              <div>$234,234<span class="recv">Received</span></div>
            </li>
            <li>
              <h4>My saving 4321<br><span>As of 07/04/2023</span></h4>
              <div>$234,234<span class="recv">Received</span></div>
            </li>
            <li>
              <h4>My saving 4321<br><span>As of 07/04/2023</span></h4>
              <div>$234,234<span class="recv">Received</span></div>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <span class="material-icons">rss_feed</span>
          <span class="material-icons">save_alt</span>
          <span class="material-icons">show_chart</span>
          <a href="#" title="More Details">More details</a>
        </div>
      </section>
    </section>
  </section>
  <section class="column">
    <section class="dragable-column">
      <section class="card">
        <div class="card-head">
          <h3>Transactions</h3>
          <span class="material-icons">expand_more</span>
        </div>
        <div class="card-body">
          <ul class="trans-grid">
            <li>
              <h4>My saving 4321<br><span>As of 07/04/2023</span></h4>
              <div>$234,234<span class="recv">Received</span></div>
            </li>
            <li>
              <h4>My saving 4321<br><span>As of 07/04/2023</span></h4>
              <div>$234,234<span class="recv">Received</span></div>
            </li>
            <li>
              <h4>My saving 4321<br><span>As of 07/04/2023</span></h4>
              <div>$234,234<span class="recv">Received</span></div>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <span class="material-icons">rss_feed</span>
          <span class="material-icons">save_alt</span>
          <span class="material-icons">show_chart</span>
          <a href="#" title="More Details">More details</a>
        </div>
      </section>
      <section class="card">
        <div class="card-head">
          <h3>My Banker</h3>
          <span class="material-icons">expand_more</span>
        </div>
        <div class="card-body">
          <ul class="banker-grid">
            <li>
              <div>
                <img src="../assets/profile01.png" alt="user" />
                <h4>Banker name
                  <span>Marketing head, Branch Manager </span>
                  <span class="location"><span class="material-icons">location_on</span>Brooklyn, NY</span>
                </h4>
                <div class="social">
                  <span class="material-icons">perm_phone_msg</span>
                  <span class="material-icons">textsms</span>
                  <span class="material-icons">share</span>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit tempor...</p>
            </li>
            <li>
              <div>
                <img src="../assets/profile02.png" alt="user" />
                <h4>Banker name
                  <span>Marketing head, Branch Manager </span>
                  <span class="location"><span class="material-icons">location_on</span>Brooklyn, NY</span>
                </h4>
                <div class="social">
                  <span class="material-icons">perm_phone_msg</span>
                  <span class="material-icons">textsms</span>
                  <span class="material-icons">share</span>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit tempor...</p>
            </li>
          </ul>
        </div>
      </section>
    </section>
  </section>
  <section class="column">
    <section class="dragable-column">
      <section class="card">
        <div class="card-head">
          <h3>My Banker</h3>
          <span class="material-icons">expand_more</span>
        </div>
        <div class="card-body">
          <ul class="banker-grid">
            <li>
              <div>
                <img src="../assets/profile03.png" alt="user" />
                <h4>Banker name
                  <span>Marketing head, Branch Manager </span>
                  <span class="location"><span class="material-icons">location_on</span>Brooklyn, NY</span>
                </h4>
                <div class="social">
                  <span class="material-icons">perm_phone_msg</span>
                  <span class="material-icons">textsms</span>
                  <span class="material-icons">share</span>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit tempor...</p>
            </li>
            <li>
              <div>
                <img src="../assets/profile04.png" alt="user" />
                <h4>Banker name
                  <span>Marketing head, Branch Manager </span>
                  <span class="location"><span class="material-icons">location_on</span>Brooklyn, NY</span>
                </h4>
                <div class="social">
                  <span class="material-icons">perm_phone_msg</span>
                  <span class="material-icons">textsms</span>
                  <span class="material-icons">share</span>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit tempor...</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="card">
        <div class="card-head">
          <h3>Accounts Overview</h3>
          <span class="material-icons">expand_more</span>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
        <div class="card-footer">
          <span class="material-icons">rss_feed</span>
          <span class="material-icons">save_alt</span>
          <span class="material-icons">show_chart</span>
          <a href="#" title="More Details">More details</a>
        </div>
      </section>
    </section>
  </section>
</section>